<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Float</title>
    <style>
      body {
        margin: 0 auto;
        max-width: 900px;
        width: 90%;
      }
      #box {
        float: right;
        margin: 15px;
        width: 150px;
        height: 150px;
        border-radius: 5px;
        background-color: aliceblue;
        padding: 1em;
      }
      .spacial {
        background-color: aquamarine;
        padding: 15px;
        color: black;
      }
      .clear {
        clear: right;
      }
    </style>
  </head>
  <body>
    <h1>Float Property</h1>
    <img id="box" src="icon.jpg" alt="" />

    <h1 class="spacial">Resume</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero officiis
      ipsa a dignissimos voluptates doloremque sapiente maxime accusantium
      numquam non error asperiores quibusdam explicabo, aut voluptas soluta
      eaque quod. A dolores repudiandae, doloribus reiciendis veritatis hic
      deleniti quaerat officiis voluptatem obcaecati ab adipisci fugiat, vero
      nam quis!
    </p>
    <p class="clear">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      mollitia quibusdam qui expedita voluptas ad! Veniam non voluptate error,
      corrupti quas, inventore provident, earum laboriosam mollitia aspernatur
      blanditiis?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa cumque
      earum sunt non architecto ut saepe aperiam a similique laboriosam ad, odit
      recusandae enim omnis. Aliquam numquam saepe laborum nobis reiciendis,
      magnam tempore, nostrum minus molestias nisi maiores, cupiditate aut.
    </p>
  </body>
</html>
