<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Position Property</title>
    <style>
      .box-set,
      .box {
        border-radius: 6px;
      }
      .box-set {
        background: white;
      }
      .box {
        background: rgb(130, 235, 130);
        position: sticky;
        top: 20px;
        height: 80px;
        width: 80px;
        margin: 20px;
        text-align: center;
      }
      p {
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="box-set">
      <div class="box box-1">BOX1</div>
      <div class="box box-2">BOX2</div>
      <div class="box box-3">BOX3</div>
      <div class="box box-4">BOX4</div>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. In nesciunt odio
      iste quis repellendus sit sequi suscipit, commodi assumenda alias
      recusandae exercitationem temporibus consectetur harum non culpa ullam
      deleniti iusto quae? Eos quas amet accusamus quia dignissimos possimus
      perspiciatis! Enim repellat reiciendis dolor eligendi, ipsa modi maxime
      aperiam laborum illum praesentium, dolorum provident dolore amet
      repellendus illo! Natus recusandae unde doloribus perspiciatis, sint
      accusamus, dolor optio a harum odio temporibus sit dolore, dolorum maxime
      sequi! Quas, velit eius! Nihil quod maiores exercitationem quis explicabo
      facere temporibus saepe error labore eaque molestiae, aspernatur tempora
      fugit at cupiditate consequatur! Quibusdam esse blanditiis ex illo quos
      dolor enim explicabo harum laudantium exercitationem iure delectus
      praesentium optio distinctio iusto quas odit, debitis culpa hic. Velit
      quibusdam blanditiis amet, consequatur quas laborum, sit fugiat voluptate,
      eaque odit aspernatur reiciendis libero magnam. Quod mollitia nemo cum!
      Fugiat dolores accusantium eius iste minima sit alias libero, suscipit
      enim expedita voluptatum beatae provident ipsa dicta voluptatem similique
      eaque consectetur porro tempore error aliquam iure. Illo quidem
      consequatur incidunt, impedit dolorem corrupti voluptates deleniti ex,
      molestiae labore tempore, eaque ullam fuga obcaecati? Quis iste aspernatur
      odio ullam tenetur animi in culpa aut atque, officia dignissimos fuga
      temporibus porro iure! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Quod, assumenda laboriosam possimus impedit reprehenderit beatae
      facilis accusantium earum mollitia distinctio. Laborum molestias ab omnis
      earum totam quo optio veniam eum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
      delectus dolore optio architecto natus, possimus laboriosam ad accusantium
      quisquam iure, illum sapiente fugiat tempore repellat facilis nisi velit
      assumenda iusto? Hic repudiandae non illum corporis neque id reiciendis
      excepturi sapiente aliquid, rerum quibusdam aut natus suscipit voluptates
      fugit ea officia totam perferendis dolorum ullam at consequatur?
      Voluptates, earum tempora quod, pariatur vero commodi delectus ut maiores,
      fugiat ipsa ex tenetur dolores voluptatibus! Veniam unde magni tempora
      neque debitis placeat ad provident porro vitae minus omnis esse, eos,
      repellendus ipsa voluptatem quaerat voluptas accusantium, tempore odit
      labore. Illum soluta sint laudantium vero quia totam molestiae sunt,
      obcaecati similique itaque quibusdam eaque. Iste odit inventore quo iusto!
      Sunt illo dolorem in pariatur dicta totam nam nobis aut temporibus
      tempora, tempore sequi repellat voluptatum consequuntur fuga aperiam quas
      at eligendi quasi provident facilis ipsum beatae debitis! Sint voluptates
      dicta, ipsa eum tenetur fugit quaerat temporibus autem ea nisi natus
      placeat, consectetur obcaecati blanditiis minima molestias veniam esse
      necessitatibus saepe vitae? Ducimus commodi dolorum consequatur pariatur
      est odio reiciendis veniam iusto. Soluta officiis cupiditate nobis nihil
      commodi perspiciatis aperiam perferendis repellendus minus excepturi
      numquam, ipsam laborum! Quia debitis facere, ipsam tempora reprehenderit
      vero accusantium quibusdam, suscipit maxime magni, est nobis minus
      praesentium totam alias reiciendis aspernatur esse inventore officiis
      possimus hic iusto cum illo. Repellat cupiditate quisquam unde repellendus
      nemo ipsa sed! Error fuga quaerat excepturi ea quia, quam ut! Repellat,
      nemo quod dignissimos non cupiditate corporis quas alias ex ipsam natus a
      culpa eos, error in itaque rem quibusdam sed animi, vero laboriosam fugiat
      nesciunt sequi voluptate! Repudiandae minus necessitatibus possimus fugiat
      natus pariatur. Ipsam maxime officiis voluptate. Itaque, hic ex fugit
      rerum minima aperiam tenetur, vitae quis magnam beatae quisquam placeat,
      eos cumque voluptatibus id impedit possimus ea culpa sunt velit doloribus
      exercitationem dolores suscipit perspiciatis. Deserunt iusto expedita,
      eaque libero nisi dicta quo numquam. Sit cumque quas placeat sapiente
      exercitationem iure obcaecati dolorem nisi, deserunt illo impedit quos
      assumenda. Eaque quisquam, facere, laboriosam minus voluptates, dolores
      laudantium aliquid numquam possimus reprehenderit quibusdam non impedit a!
      Iusto maiores impedit quibusdam voluptates tempore nemo tenetur
      reprehenderit, ducimus non nam incidunt officiis quos sapiente odio, quam
      ullam vitae esse illo culpa consequatur accusamus doloribus et? A ipsum
      esse voluptatibus nemo, minus, excepturi harum iusto laudantium error
      reiciendis quam! Beatae assumenda velit reprehenderit magni quibusdam!
      Voluptate repudiandae quas quisquam minus impedit modi cupiditate officiis
      minima at, consequuntur porro alias, excepturi beatae facilis! Facere
      asperiores iusto soluta, dolores laboriosam exercitationem quam similique
      nobis eos maxime ipsam voluptate tempora quae delectus voluptatem
      repellendus impedit commodi laborum! Alias quisquam sit perferendis,
      quidem omnis accusantium dicta tempora quae, blanditiis aspernatur laborum
      saepe amet enim tenetur ipsa labore esse illum. Eum autem totam saepe
      veniam. Minus, tempore dolorem! Commodi sed doloremque ut aut et. Maiores
      labore error modi voluptatibus fugiat, nostrum laborum. Vitae similique
      soluta vel molestias praesentium in sunt, sit harum reiciendis, ad atque
      est maiores odit, voluptatibus vero. Adipisci, quam et dolores ducimus
      exercitationem, perferendis quibusdam voluptatem reiciendis corporis
      tempora quidem at sapiente dolor aliquid ullam libero ratione voluptates.
      Magnam ab fugit autem placeat accusamus nobis labore, in impedit tempora
      sunt, tenetur voluptate esse recusandae iure sapiente, fuga ex corporis
      alias eos dolores quas harum laudantium debitis! Dolores eaque aliquid
      quia ex quas, et sapiente tenetur impedit architecto accusamus beatae
      dolorum nisi asperiores quae quis explicabo nesciunt at cum rem temporibus
      animi voluptatum quo. Neque, esse. Magnam animi adipisci laudantium itaque
      reprehenderit accusamus accusantium neque laboriosam quisquam veritatis et
      corrupti dolore libero quam praesentium nemo inventore delectus, natus ad
      quae sequi dolores excepturi. Mollitia repellendus voluptas repudiandae
      dolorum, vel omnis inventore corporis accusantium unde, odit pariatur
      perspiciatis eos nostrum, ipsa dolor labore suscipit. Reiciendis itaque
      quas reprehenderit molestiae nesciunt voluptatibus libero dolorem,
      voluptatem illum suscipit aut unde tempora earum culpa modi rerum sint.
      Enim, consequuntur ducimus, quia rerum molestias adipisci tenetur minus
      nisi necessitatibus incidunt quis voluptates temporibus. Nihil quo quidem
      nulla voluptatem. Numquam sunt delectus dolorem, molestiae ab neque,
      repellat quidem provident optio porro ad culpa vel sapiente dolor
      dignissimos? Quaerat nesciunt ad, esse ducimus in optio quia quam dolore
      ipsa dicta provident repudiandae accusamus molestiae at atque minima culpa
      illo explicabo ut inventore quo iusto vel non. Accusantium magnam dolor
      ratione odit quisquam quibusdam. Qui ipsa ex repellendus enim, totam fugit
      voluptatibus unde facilis optio suscipit sit repudiandae molestias eum
      possimus nihil quidem ab nemo quasi doloribus a reprehenderit, voluptas
      deserunt, minus assumenda. At, commodi doloribus nisi illum mollitia
      quasi. Ea, cupiditate molestiae, iusto deleniti repellendus amet porro
      commodi quae aspernatur numquam maiores quisquam nemo! Dolores quo illum
      repellat voluptas sequi corporis distinctio non explicabo! Accusantium
      asperiores in dolores facere ratione tempora? Et quisquam itaque nulla
      totam quo quae? In amet eius quis suscipit dolorum numquam debitis itaque
      veritatis inventore commodi eaque nostrum distinctio voluptates molestiae
      labore consequatur necessitatibus, sunt quia? Sint et quas iusto eius
      excepturi, fuga architecto nobis libero, autem inventore ab obcaecati
      veniam asperiores amet atque quasi doloribus culpa voluptatum. Labore
      voluptates ad, harum iusto nam, maiores quas est assumenda id maxime et
      necessitatibus qui! Neque optio quis perspiciatis repellendus quaerat
      voluptas aspernatur, similique pariatur quibusdam eligendi eum consequatur
      tempora excepturi aperiam tempore ullam explicabo nemo hic dignissimos
      ipsum incidunt quidem. Repellat ipsum et asperiores dicta repudiandae hic
      non, suscipit placeat neque sit harum provident quisquam facilis
      exercitationem impedit temporibus vel possimus reiciendis, expedita
      mollitia, corrupti corporis voluptas quam nemo. Deleniti nesciunt adipisci
      magnam officia hic, dolore voluptatibus et nihil voluptatum sit tenetur
      alias, quas quos explicabo facere expedita consectetur doloremque
      obcaecati. Animi reprehenderit sequi sapiente, possimus illum sint
      doloribus officiis quo amet corporis aliquam recusandae nisi voluptatem
      sed repellendus excepturi. Similique, dolore reiciendis nulla facilis,
      alias aliquam ipsum dignissimos iusto impedit ipsam, dolor nihil
      recusandae eligendi ea! Unde iure eaque dolorum eius velit a
      exercitationem obcaecati, asperiores quos suscipit quia similique
      laboriosam hic quo fuga pariatur eos odit necessitatibus doloribus quis?
      Suscipit aspernatur libero quo vel, blanditiis, sint temporibus dolores
      ullam placeat voluptatibus quaerat tenetur reprehenderit perferendis,
      magnam voluptatum soluta ut dicta.
    </p>
  </body>
</html>
